<h3><%= current_user.taobao_user_nick %>,欢迎使用iNav商品分类导航管理</h3>
<table class="bordered striped">
  <tr>
    <td>店铺地址</td>
    <td><%= link_to @shop.title, @shop.shop_url, target: '_blank' %></td>
  </tr>
  <tr>
    <td>店铺描述</td>
    <td><%= sanitize(@shop.desc) %></td>
  </tr>
  <tr>
    <td>店铺公告</td>
    <td><%= sanitize(@shop.bulletin) %></td>
  </tr>
  <tr>
    <td>开店时间</td>
    <td><%= l @shop.created %></td>
  </tr>
</table>
