<h3><%= current_user.taobao_user_nick %>,欢迎使用111店铺面包屑导航管理</h3>
<table class="table table-striped table-bordered">
  <tr>
    <td>店铺地址</td>
    <td><%= link_to @shop.tb_title, @shop.shop_url, target: '_blank' %></td>
  </tr>
  <tr>
    <td>店铺描述</td>
    <td><%= sanitize(@shop.tb_desc) %></td>
  </tr>
  <tr>
    <td>店铺公告</td>
    <td><%= sanitize(@shop.tb_bulletin) %></td>
  </tr>
  <tr>
    <td>开店时间</td>
    <td><%= l @shop.tb_created %></td>
  </tr>
</table>
