<%= content_for :page_head do %>
  <style type="text/css">
    #editor { 
      position: relative;
      height: 300px;
      border: 1px solid #DDD;
      border-collapse: separate;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  </style>
<% end %>
<%= form_tag update_template_setting_path, method: :put, 'id' => 'edit-template-form' do %>
  <%= hidden_field_tag(:t, params[:t]) %>
  <%= hidden_field_tag(:template, @template) %>
  <ul class="nav nav-tabs">
    <%= nav_link('编辑面包屑模板', edit_template_setting_path(t: 'bread_crumb')) %>
    <%= nav_link('编辑相关分类模板', edit_template_setting_path(t: 'related_cat')) %>
  </ul>
  <div class="row-fluid">
    <div id="editor" class="span7"><%= @template %></div>
    <div class="span5">
      <p>
      <ul>
        <li> <%= link_to "Liquid模板语言语法", 'https://github.com/Shopify/liquid/wiki/Liquid-for-Designers', target: '_blank' %><br /> </li>
        <li> <%= link_to "ACE编辑器快捷键", 'https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts', target: '_blank' %> </li>
        <li>变量说明:
        <ul>
          <li>TODO</li>
        </ul>
        </li>
    </ul>
      </p>
    </div>
    <div class="row-fluid">
      <div id="code-preview" class="span6">HTML代码</div>
      <div id="html-preview" class="span6">HTML效果</div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag '保存模板', class: 'btn btn-primary' %>
    <%= button_tag '预览', class: 'btn', type: :button, 'id' => 'preview-template-btn', 'data-preview-url' => preview_template_setting_path %>
  </div>
<% end %>

<%= content_for :page_footer do %>
  <%= javascript_include_tag "ace" %>
<% end %>
