<tr>
  <td><%= back_task.id %></td>
  <td><%= back_task.task_status_text %></td>
  <td><%= back_task.task_type_text %></td>
  <td><%=l back_task.created_at %></td>
  <td><%=l back_task.updated_at %></td>
</tr>
