<!DOCTYPE html>
<html>
  <head>
    <title><%= render_page_title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="page flyouts">
      <div class="navigation-bar">
        <div class="navigation-bar-inner">
          <div class="brand">
            <a href="/"><span class="metro-ui-logo place-left"></span></a>
            <a href="/"><span class="name">商品分类导航管理</span></a>
          </div>
        </div>
      </div>

      <div class="page-region">
        <div class="page-region-content">
          <%= yield %>
        </div>
      </div>

      <%= render 'commons/footer' %>
    </div>
  </div>

</body>
</html>
